.facts {
	padding: 130px 0;
	background: var(--white);

	@media (max-width: 1024px) {
		padding: 90px 0;
	}

	@media (max-width: 550px) {
		padding: 60px 0;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;

		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 30px;

		@media (max-width: 768px) {
			flex-wrap: wrap;
		}
	}

	&__item {
		text-align: center;

		@media (max-width: 768px) {
			flex: 0 1 45%;
		}

		@media (max-width: 550px) {
			flex: 0 1 100%;
		}
		
		span {
			display: block;

			font-family: var(--second-font);
			font-weight: 700;
			font-size: rem(60);
			line-height: lh(73, 60);
			color: var(--title-color);

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}

		p {
			margin: 0;

			font-weight: 400;
			line-height: lh(19, 14);
		}
	}
}
