.footer {
	background: var(--footer-top);

	&__top {
		padding: 120px 0 60px;

		@media (max-width: 1024px) {
			padding: 90px 0 60px;
		}

		@media (max-width: 550px) {
			padding: 60px 0;
		}
	}

	&__bottom {
		padding: 42px 0;
		background: var(--footer-bottom);

		@media (max-width: 768px) {
			padding: 25px 0;
		}
	}
}

.footer-top {
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__logo {
		position: relative;
		padding: 0px 36px 10px;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: var(--yellow);
		}

		svg path {
			transition: all 0.3s;
		}

		&:hover {
			svg path {
				fill: var(--yellow);
			}
		}

		&:not(:last-child) {
			margin-bottom: 70px;

			@media (max-width: 768px) {
				margin-bottom: 50px;
			}
		}
	}

	&__social {
		margin: 0;
		padding: 0;
		list-style-type: none;

		display: flex;
		align-items: center;
		gap: 10px 30px;

		@media (max-width: 768px) {
			flex-wrap: wrap;
			justify-content: center;
		}

		&:not(:last-child) {
			margin-bottom: 65px;

			@media (max-width: 768px) {
				margin-bottom: 40px;
			}
		}
	}

	&__social-item {
	}

	&__social-link {
		text-decoration: none;

		text-transform: uppercase;
		font-family: var(--second-font);
		font-weight: 300;
		font-size: rem(12);
		line-height: lh(15, 12);
		letter-spacing: 5px;
		color: var(--white);
		transition: all 0.3s;

		&:hover {
			color: var(--yellow);
		}
	}

	&__address {
		color: var(--white);

		display: flex;
		flex-direction: column;
		align-items: center;

		font-style: normal;
		font-weight: 400;
		font-size: rem(14);
		line-height: lh(32, 14);

		&:not(:last-child) {
			margin-bottom: 55px;

			@media (max-width: 768px) {
				margin-bottom: 30px;
			}
		}
	}

	&__address-location {
		margin: 0;
	}

	&__address-phone {
		text-decoration: none;
		color: inherit;
		transition: all 0.3s;

		&:hover {
			color: var(--yellow);
		}
	}

	&__address-email {
		text-decoration: none;
		color: inherit;
		transition: all 0.3s;

		&:hover {
			color: var(--yellow);
		}
	}

	&__arrow-up {
		transition: all 0.3s;

		svg path {
			transition: all 0.3s;
		}

		&:hover {
			transform: scale(2);

			svg path {
				fill: var(--yellow);
			}
		}
	}
}

.footer-bottom {
	&__body {
	}

	&__copy {
		font-weight: 400;
		font-size: rem(12);
		line-height: lh(16, 12);
		color: var(--portfolio-btn-hover);
		text-align: center;
	}
}
