.magic {
	background: var(--light-grey);
	padding: 130px 0;
	position: relative;

	@media (max-width: 1024px) {
		padding: 90px 0;
	}

	@media (max-width: 768px) {
		padding: 90px 0 0;
	}

	@media (max-width: 550px) {
		padding: 60px 0 0;
	}

	&__body {
		max-width: 50%;
		margin-left: auto;
		padding-left: 130px;

		@media (max-width: 1024px) {
			padding-left: 60px;
		}

		@media (max-width: 768px) {
			max-width: 100%;
			margin-left: unset;
			padding-left: unset;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;

		@media (max-width: 768px) {
			position: relative;
			width: 100%;
			height: 300px;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		margin: 0;

		&:not(:last-child) {
			margin-bottom: 65px;

			@media (max-width: 1024px) {
				margin-bottom: 32px;
			}
		}
	}

	&__text {
		@media (max-width: 768px) {
			margin-bottom: 32px;
		}

		p {
			margin: 0;

			&:not(:last-child) {
				margin-bottom: 25px;

				@media (max-width: 1024px) {
					margin-bottom: 16px;
				}
			}
		}
	}
}
