.partners {
	background: var(--white);
	padding: 90px 0;

	@media (max-width: 550px) {
		padding: 60px 0;
	}

	&__body {
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;

		display: flex;
		align-items: center;
		justify-content: center;
		gap: 30px 55px;
		flex-wrap: wrap;
	}

	&__item {
		img {
			display: block;
		}
	}
}
